x.glass1{
    width: 40px;
    height:50px;
    margin-top: 260px;
    margin-left: 540px;
    position: fixed;
    z-index: 1;
  }
  
  .glass2{
    width: 40px;
    height:50px;
    margin-top: 260px;
    margin-left: 540px;
    position: fixed;
    z-index: 1;
  }
  .glass3{
    width: 40px;
    height:50px;
    margin-top: 260px;
    margin-left: 670px;
    position: fixed;
    z-index: 1;
  }
  .glass4{
    width: 40px;
    height:50px;
    margin-top: 260px;
    margin-left: 720px;
    position: fixed;
    z-index: 1;
  }
  
  .glass5{
    width: 40px;
    height:50px;
    margin-top: 260px;
    margin-left: 800px;
    position: fixed;
    z-index: 1;
  }
  
  .glass6{
    width: 40px;
    height:50px;
    margin-top: 260px;
    margin-left: 850px;
    position: fixed;
    z-index: 1;
  }
  
  
  .glass7{
    width: 40px;
    height:50px;
    margin-top: 330px;
    margin-left: 540px;
    position: fixed;
    z-index: 1;
  }
  
  .glass8{
    width: 40px;
    height:50px;
    margin-top: 330px;
    margin-left: 590px;
    position: fixed;
    z-index: 1;
  }
  
  .glass9{
    width: 40px;
    height:50px;
    margin-top: 330px;
    margin-left: 670px;
    position: fixed;
    z-index: 1;
  }
  
  .glass10{
    width: 40px;
    height:50px;
    margin-top: 330px;
    margin-left: 720px;
    position: fixed;
    z-index: 1;
  }
  
  .glass11{
    width: 40px;
    height:50px;
    margin-top: 330px;
    margin-left: 800px;
    position: fixed;
    z-index: 1;
  }
  

  
  
  
  .container {
      position: relative;
    }
    
    .container img {
      width:400px;
      height:300px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
    }